In [4]:
import pandas as pd, numpy as numpy
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv(r"..\database\alloytower_data.csv")

In [6]:
data.head()

,PROPERTY_ID,FORMATTEDADDRESS,CITY,STATE,COUNTY,ZIPCODE,PROPERTYTYPE,SUBDIVISION,BEDROOMS,BATHROOMS,...,HAS_GARAGE,GARAGE_SPACES,COOLING,COOLING_TYPE,HEATING,HEATING_TYPE,TAX_2024,TAX_2023,AIRBYTE_EXTRACTED_AT,UPDATED_AT
0,"5970-Summer-Fest-Dr,-San-Antonio,-TX-78244","5970 Summer Fest Dr, San Antonio, TX 78244",San Antonio,TX,Bexar,78244,Single Family,SUNRISE,3.0,2.0,...,True,1.0,True,Central,True,Forced Air,NaN,NaN,2026-01-23 13:25:10.773 Z,2026-01-23 05:50:40.551
1,"6734-Summer-Fest-105,---106,-San-Antonio,-TX-7...","6734 Summer Fest 105, # 106, San Antonio, TX 7...",San Antonio,TX,Bexar,78244,Multi-Family,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-01-23 13:25:08.706 Z,2026-01-23 05:50:40.551
2,"6435-Pelican-Coral,-San-Antonio,-TX-78244","6435 Pelican Coral, San Antonio, TX 78244",San Antonio,TX,Bexar,78244,Single Family,HIGHLAND FARMS TWO,3.0,2.0,...,True,1.0,True,Central,True,Forced Air,NaN,4997.0,2026-01-23 13:25:12.757 Z,2026-01-23 05:50:40.551
3,"5706-Golf-Hts,-Unit-2,-San-Antonio,-TX-78244","5706 Golf Hts, Unit 2, San Antonio, TX 78244",San Antonio,TX,Bexar,78244,Multi-Family,NaN,3.0,3.0,...,True,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2026-01-23 13:25:12.808 Z,2026-01-23 05:50:40.551
4,"7323-Highland-Lake-Dr,-San-Antonio,-TX-78244","7323 Highland Lake Dr, San Antonio, TX 78244",San Antonio,TX,Bexar,78244,Single Family,WOODLAKE PARK,5.0,3.0,...,True,2.0,True,Central,True,Forced Air,NaN,2452.0,2026-01-23 13:25:11.995 Z,2026-01-23 05:50:40.551

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PROPERTY_ID           10000 non-null  object
 1   FORMATTEDADDRESS      10000 non-null  object
 2   CITY                  10000 non-null  object
 3   STATE                 10000 non-null  object
 4   COUNTY                9994 non-null   object
 5   ZIPCODE               10000 non-null  int64
 6   PROPERTYTYPE          9272 non-null   object
 7   SUBDIVISION           8461 non-null   object
 8   BEDROOMS              8832 non-null   float64
 9   BATHROOMS             8772 non-null   float64
 10  SQUAREFOOTAGE         9199 non-null   float64
 11  LOTSIZE               8307 non-null   float64
 12  YEARBUILT             8914 non-null   float64
 13  LATITUDE              10000 non-null  float64
 14  LONGITUDE             10000 non-null  float64
 15  OWNER_TYPE            6615 non-null   object
 16  OWNER_NAMES           8490 non-null   object
 17  OWNER_OCCUPIED        8490 non-null   object
 18  HAS_POOL              222 non-null    object
 19  POOL_TYPE             68 non-null     object
 20  HAS_GARAGE            7777 non-null   object
 21  GARAGE_SPACES         7129 non-null   float64
 22  COOLING               8466 non-null   object
 23  COOLING_TYPE          8466 non-null   object
 24  HEATING               8473 non-null   object
 25  HEATING_TYPE          8469 non-null   object
 26  TAX_2024              7 non-null      float64
 27  TAX_2023              7643 non-null   float64
 28  AIRBYTE_EXTRACTED_AT  10000 non-null  object
 29  UPDATED_AT            10000 non-null  object
dtypes: float64(10), int64(1), object(19)
memory usage: 2.3+ MB